@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply box-border bg-background text-text;
}

.btn-primary {
    @apply hover:bg-highlight bg-highlight/0 border-2 border-highlight font-semibold text-white md:mx-0 mx-auto rounded-full py-3 px-6 flex items-center gap-2;
}

.pic::after {
    @apply content-[''] w-full left-0 top-0 rounded-xl rotate-12 h-full -z-10 absolute bg-background;
}

.swiper-pagination-bullet {
    @apply bg-highlight;
}

input, textarea {
    @apply bg-gray-700 outline-none rounded-lg p-3;
}

::placeholder {
    @apply text-lg text-gray-400;
}

::selection {
    @apply bg-highlight text-white;
}

.text-highlight {
    color: #E5CF8E !important;
}

table.border-collapse {
    border-collapse: collapse;
}

td.border-none {
    border: none;
}

.swiper-pagination-bullet {
    background: white !important;
}

.swiper-pagination-bullet-active {
    background: #E5CF8E !important;
}

.landing-page-section {
    background-image: url('./assets/header.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.landing-page-section::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

@font-face {
    font-family: 'STKaiti';
    src: url('./assets/STKaiti.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-STKaiti {
    font-family: 'STKaiti', sans-serif;
}
